@import "tailwindcss";
@plugin "daisyui";



.navbar {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
}
.dark{
  background-color: rgb(72, 127, 228);
}
.light{
  background-color: rgb(100, 149, 237);
  
}






